<div class="headline"
    data-resources="[{paths: ['components/headline/styles/headline.css', 'components/headline/headline.js']}]"
    data-init="((element) => {window.biotope.Header(element)})">
    Hello World!
</div>