<div class="section">
    <section>
        <div class="row row--reducedWidth">
            {{bioInclude 'components/accordion/accordion'
            number = 100
            accordion = data.components.accordion.accordionObj
            
            }} 
        </div>
    </section>
</div>