<div class="section">
    <section>
        <div class="row row--reducedWidth">
            {{bioInclude 'components/filterList/filterList'
            personalities = data.components.filterList.people
            }} 
        </div>
    </section>
</div>