<div class="accordion hiddenOnLoad" 
data-resources="[{paths: ['components/accordion/styles/accordion.css', 'components/accordion/accordion.js']}]"
data-init="((element) => {
        window.biotope.Accordion(element);
        element.classList.remove('hiddenOnLoad')
    })">
    <div class="accordion__sectionContainer">
        <div class="accordion__sectionHeadline">click me</div>
        <div class="accordion__sectionContent">
            <p class="accordion__textBox"></p>
            </div>
    </div>
    <div class="accordion__sectionContainer">
        <div class="accordion__sectionHeadline">click me</div>
        <div class="accordion__sectionContent">
            <p class="accordion__textBox"></p>
            </div>
    </div>
    <div class="accordion__sectionContainer">
        <div class="accordion__sectionHeadline">click me</div>
        <div class="accordion__sectionContent">
            <p class="accordion__textBox"></p>
            </div>
    </div>
    <div class="accordion__sectionContainer">
        <div class="accordion__sectionHeadline">click me</div>
        <div class="accordion__sectionContent">
            <p class="accordion__textBox"></p>
            </div>
    </div>
    <div class="accordion__sectionContainer">
        <div class="accordion__sectionHeadline">click me</div>
        <div class="accordion__sectionContent">
            <p class="accordion__textBox"></p>
            </div>
    </div>
</div>